<h1>Home#index</h1>
<p>hello,stranger,welcome to my personal website.
   <br>
  now,you have a choice
  <br>

  kneel before me and you will raise as jhon stark,load of winterfell.

</p>
<p>Find me in app/views/home/index.html.erb</p>
<p>Find me in app/views/home/index.html.erb</p>
<p>Find me in app/views/home/index.html.erb</p>
